extends layout

block content
    input(type="file", name="", id="file")

    script.
        function uploadFile() {
			var fileObj = document.getElementById('file').files[0]
            var url = 'http://localhost:3000/api/file_upload'

            var form = new FormData()
            form.append('file', fileObj)

            var xhr = new XMLHttpRequest()
            xhr.open('post', url, true)
            xhr.onload = uploadComplete
            xhr.onerror = uploadError
            xhr.upload.onloadStart = function () {
				var ot = new Date().getTime()
                var oloaded = 0
            }
			xhr.send(form)
        }
		function uploadComplete(e) {
			if(e.target.responseText === 'success') {
				console.log('success');
			}else {
				console.log('fail---');
			}
        }
		function uploadError() {
			console.log('failed');
		}
		document.getElementById('file').addEventListener('change', uploadFile)
