.page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    width: 375px;
    height: 812px;
    overflow: hidden;
    font-weight: normal;
}

.card {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin-top: 126px;
    height: 89px;
    font-weight: 400;
}

.info {
    position: absolute;
    bottom: 0;
    left: 41px;
    line-height: 19px;
    white-space: pre;
    color: #000000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
}

.action-bg {
    position: relative;
    margin-top: -3px;
    width: 256px;
    height: 86px;
}

.card-1 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    margin-top: 73px;
    line-height: 36px;
    white-space: pre;
}

.log {
    color: #000000;
    font-family: Helvetica;
    font-size: 30px;
}

.list {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: center;
    flex-direction: column;
    margin-top: 49px;
    font-weight: 400;
}

.header-i0 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    white-space: nowrap;
}

.email {
    position: relative;
    max-width: 335px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    color: #666666;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
}

.email-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    border-color: #eeeeee;
    width: 335px;
    height: 40px;
    line-height: 14px;
}

.email-1 {
    margin-top: 3px;
    margin-left: 14px;
    max-width: 305px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
}

.header-i1 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.password {
    position: relative;
    max-width: 335px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    white-space: nowrap;
    color: #666666;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
}

.view {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    border-color: #eeeeee;
    padding-right: 16px;
    padding-left: 14px;
    width: 335px;
    height: 40px;
}

.logo {
    margin-top: 0;
    width: 97px;
    height: 7px;
}

.icon-locate {
    margin-top: 0;
    width: 18px;
    height: 13px;
}

.card-2 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 122px;
    line-height: 16px;
    white-space: pre;
}

.forgot-password {
    color: #ff7d0d;
    font-family: Helvetica;
    font-size: 13px;
}

.card-3 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-top: 16px;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 7px;
    width: 335px;
    height: 40px;
    box-shadow: 0 5px 11px 0 #ffd1aa;
    background-color: #ff7d0d;
    line-height: 16px;
    white-space: pre;
}

.log-1 {
    margin-top: -1px;
    max-width: 323px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 16px;
}

.tag {
    position: relative;
    margin-top: 13px;
    max-width: 323px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    white-space: nowrap;
    color: #aaaaaa;
    font-family: Helvetica;
    font-size: 16px;
}

.body {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    border-radius: 7px;
    width: 335px;
    height: 40px;
    box-shadow: 1px 5px 15px 3px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    font-weight: 400;
}

.icon {
    margin-right: 5px;
    width: 26px;
    height: 20px;
}

.info-1 {
    margin-top: -1px;
    line-height: 16px;
    white-space: pre;
    color: #000000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
}

.card-4 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    margin-top: 17px;
    line-height: 16px;
    white-space: pre;
}

.sign-here {
    color: #ff7d0d;
    font-family: Helvetica;
    font-size: 13px;
}
